body, h1, p, div {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    background: linear-gradient(to top right, #3498db, #c0392b);
}

.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 10px;
    color:#83ec5d;
    background-color: rgb(55, 23, 48);
    font-size: 20px;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-color: #83ec5d;
    
}
