/* leftmassage */

.chat-screen__texts{
    padding: 0;
    list-style-type: none;
}
.chat-screen__texts > .text{
    background-color: #34d27b;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius:8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}
.chat-screen__texts {
    height: 75%; 
    overflow-y: auto; 
}

.chat-screen__texts > .text::after{
    content: "";
    border-right: 16px solid #34d27b;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}


.chat-screen__texts > .text.me{
    background-color: #34d27b;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius:8px;
    line-height: 30px;
    position: relative;
    left: 110px;
}
.chat-screen__texts > .text::before{
    border-right: none;
}
.chat-screen__texts > .text.me::after{
    content: "";
    border-left: 16px solid #34d27b;
    border-bottom: 16px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    top: 10px;
    left: 258px;
}

/*------*/

.chat-screen__texts > .text:hover{
    background-color: #1c9352;
    transition: background-color 1500ms 200ms ease-in;
}

.chat-screen__texts > .text:hover::after{
    border-right: 16px solid #1c9352;
    transition: border-right 1500ms 200ms ease-in;
}
